.main.sub {
	z-index: 0;
}
body {
	margin: 0;
	font-family: 'SUIT', sans-serif;
	display: block;
}
body::-webkit-scrollbar {
	display: none;	
}
.main.sub {
	width:100%;
	max-width:1366px;
	margin: 0 auto;
}
.hotel_reservation_payment {
	display: flex;
	margin-top: 60px;
	justify-content: center;
}
.info_left {
	width: 43%;
	
}
.reservation_info {
	border: 1px solid #e5e5e5;
	border-radius: 8px;
}
.infocommon_title {
	font-size: 24px;
	font-weight: bold;
	padding: 30px;
}
.information_section{
	background-color: #f5f5f5;
	padding: 10px 20px;
}
.information_wrapper {
	background-color: #ffffff;
	border-radius: 4px;
	padding-bottom: 10px;
}
.info_list {
	margin: 0 20px;
}
.list_title {
	padding: 20px 0;
	border-bottom: 1px solid #999999;
	font-size: 16px;
}
.list_title > .hotel_icon {
	float: left;
}
.list_title > span {
	margin-left: 8px;
}
.list_location {
	padding: 20px 0;
	border-bottom: 1px dotted #999999;
}
.hotel_name {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.hotel_location {
	font-size: 12px;
	color: #999999;
	overflow: auto;
}
.location_icon {
	float: left;
	width: 15px;
	height: 15px;	
}
.list_reserveinfo {
	margin: 20px 0;
	border-bottom: 1px dotted #999999;
}
.reserveinfo_detail {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between; 
}
.reserveinfo_detail_title {
	font-size: 14px;
	color: #999999;
}
.reserveinfo_detail_content {
	font-size: 14px;
}
.list_notice {
	font-size:14px;
	padding-bottom: 20px;
}
.list_notice_title {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
}
.dot::before{
	display: block;
	float: left;
	content:"•";
	width: 10px;
}
.list_button{
	margin-bottom: 10px;
	border: 1px solid #999999;
	border-radius: 4px;
	background-color: #ffffff;
	text-align: center;
	font-size: 16px;
	width: 476px;
	height: 42px;
}
.price_notice {
	padding: 20px;
	font-size: 14px;
	color: #d91c84;
	border-bottom: 1px solid #e5e5e5;
}
.price_wrapper {
	padding: 25px;
	font-size: 18x;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
}
.total_price{
	color: #d91c84;
}
.payment_info {
	margin-left: 30px;
	width: 43%;
}

/* 여기부터 결제수단 (카드,무통장입금)*/
.payment_way {
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	padding: 0 0 20px;
	margin: 0 0 30px;
}

.selected_payment_way_list_card {
	display: flex;
	flex-direction:column;
	margin-bottom: 10px;
}
.payment_logo {
	float: left;
	width: 22px;
	height: 16px;
}
.payment_logo.card {
	float: left;
	width: 22px;
	height: 16px;
	-webkit-filter: opacity(.5) drop-shadow(0 0 0 #e5e5e5);
}
.payment_list_title {
	font-size: 18px;
	margin-left: 20px;
}
.title_section {
	display: flex;
	padding: 20px;
	align-items: center;
	cursor: pointer;
	color: #e5e5e5;
}
.selected_wrapper {
	border: 1px solid;
	border-color: #e5e5e5;
	border-radius: 4px;
	margin: 0 30px 10px 30px;
}
.selecting_option {
	margin: 0 20px 20px 28px;
	display: none;
}
.selecting_option_title {
	font-size: 18px;
	margin-bottom: 10px;
}
.card_type {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.card_option {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin: 0 10px 10px 0;
	font-size: 12px;
	color: #e5e5e5;
	cursor: pointer;
	width: 22%;
	text-align: center;
	height: 60px;
}
.card_option.active {
	border-color: #000000;
	color: #000000;
}
.card_option > .card_image {
	height: 16px;
	margin-top: 10px;
	filter: grayscale(100%);
}
.card_image.active {
	filter:none;
}
.card_name {
	margin: 6px 0;
}

ul {
	margin: 0;
	padding: 0;
}
.other_card {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: 13px 10px;
	font-size: 12px;
	background: #ffffff no-repeat;
	text-align: left;
}
.other_card:hover {
	outline: 2px solid #d91c84;
}
.cardlist:hover {
	background: #d91c84;
	color: #ffffff;
}
.other_card_section {
	margin-bottom: 20px;
}
.other_card_listbox {
	width: 100%;
	list-style: none;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 8px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	display: none;
}

.other_card_list.active{
	display: block;
}
.other_card_listbox::-webkit-scrollbar {
  display:none;
}
.cardlist {
	border: none;
	background: #ffffff;
	font-size: 12px;
	padding: 8px 12px;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
}

.monthly_payment.month {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: 13px 10px;
	font-size: 12px;
	background: #ffffff no-repeat;
	text-align: left;
}
.monthly_payment.month:hover {
	outline: 2px solid #d91c84;
}
.monthly_payment.bank {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: 13px 10px;
	font-size: 12px;
	background: #ffffff no-repeat;
	text-align: left;
}
.monthly_payment.bank:hover {
	outline: 2px solid #d91c84;
}
.monthlylist {
	border: none;
	background: #ffffff;
	font-size: 12px;
	padding: 8px 12px;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
}
.monthlylist:hover {
	background: #d91c84;
	color: #ffffff;
}
.paymentlist:hover {
	background: #d91c84;
	color: #ffffff;
}
.selected_payment_way_list_bank {
	border: 1px solid;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	margin: 0 30px 10px;
	cursor: pointer;
	color: #e5e5e5;
	border-color: #e5e5e5;
}

.bank_wrapper {
	display: flex;
	padding: 20px 20px;
	align-items: center;
}
.bank_payment_section {
	display: none;
}
.bank_payment_wrapper {
	display: flex;
	flex-direction: column;
	padding: 0 20px 20px;
}
.bank_payment {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: 13px 10px;
	font-size: 12px;
	background: #ffffff no-repeat;
	text-align: left;
}
.bank_payment:hover {
	outline: 2px solid #d91c84;
}
.selecting_payment.month {
	width: 100%;
	height: 300px;
	list-style: none;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 8px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	display: none;
}
.selecting_payment.bank {
	width: 100%;
	height: 300px;
	list-style: none;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 8px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	display: none;
}
.selecting_payment::-webkit-scrollbar {
  display:none;
}
.paymentlist {
	border: none;
	background: #ffffff;
	font-size: 12px;
	padding: 8px 12px;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
}
/* 여기까지  결제수단 (카드,무통장입금)*/


.installment_notice {
	margin: 30px 0;
	font-size: 14px;
	color: #d91c84;
	cursor: pointer;
}
.rule_and_refund {
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	margin-bottom: 30px;
}
.rule_section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
}
.refund_section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.see_all_letters {
	font-family: 'SUIT', sans-serif;
	color: #d91c84;
	font-size: 14px;
	font-weight: 600;
	margin: 20px;
	background: #ffffff;
	border: none;
	text-align: center;
}
.agreement {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-bottom: 30px;
}
.whole_agree {
	background-color: #e5e5e5;
	margin: 0 30px;
	padding: 15px;
	border-radius: 4px;
	font-weight: 600;
}
.agree_section {
	display: flex;
	justify-content: space-between;
	margin: 15px 30px 0;
	padding-left: 15px;
}
.agree_see_all_letters {
	color: #d91c84;
	font-size: 14px;
	font-weight: 600;
}
.hotel_rule_agree {
	margin: 15px 30px 30px;
	padding-left: 15px;
}
.agree_see_all_letters > button {
	font-family: 'SUIT', sans-serif;
	color: #d91c84;
	font-size: 14px;
	font-weight: 600;
	background: #ffffff;
	border: none;
	text-align: center;
}
.see_all_letters.agree {
	margin:0;
}

.payment_section {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}
.payment_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.payment_total_price {
	color: #d91c84;
	font-size: 20px;
	font-weight: 600;
	margin: 0 30px;
}
.payment_notice {
	margin: 0 30px;
	font-size: 14px;
	color: #999999;
}
.payment_button {
	border-radius: 8px;
    background-image: linear-gradient(to right, #f50364, #ac42a9);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px 30px;
    padding: 20px;
}

@media screen and (max-width: 1366px) {
	.main.sub{
		padding: 0 1em;
		box-sizing: border-box;
	}
}

















